<?xml version="1.0"?>
<config>
    <modules>
        <JanPapenbrock_FastAssets>
            <version>0.1.0</version>
        </JanPapenbrock_FastAssets>
    </modules>
    <global>
        <helpers>
            <fast_assets>
                <class>JanPapenbrock_FastAssets_Helper</class>
            </fast_assets>
        </helpers>
        <models>
            <fast_assets>
                <class>JanPapenbrock_FastAssets_Model</class>
            </fast_assets>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_head>JanPapenbrock_FastAssets_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <cache>
            <types>
                <fast_assets translate="label,description" module="fast_assets">
                    <label><![CDATA[Fast Assets]]></label>
                    <description><![CDATA[Compiled CSS and JS asset files.]]></description>
                    <tags />
                </fast_assets>
            </types>
        </cache>
    </global>
    <adminhtml>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <fast_assets>
                        <class>fast_assets/observer</class>
                        <type>singleton</type>
                        <method>cacheRefreshType</method>
                    </fast_assets>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_system>
                <observers>
                    <fast_assets>
                        <class>fast_assets/observer</class>
                        <type>singleton</type>
                        <method>cacheFlushSystem</method>
                    </fast_assets>
                </observers>
            </adminhtml_cache_flush_system>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <fast_assets>
                        <class>fast_assets/observer</class>
                        <type>singleton</type>
                        <method>onLayoutReady</method>
                    </fast_assets>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <default>
        <dev>
            <fast_assets>
                <enabled>0</enabled>
                <css_enabled>0</css_enabled>
                <js_enabled>0</js_enabled>
                <compile_asynchronously>0</compile_asynchronously>
                <store_files_in_media>0</store_files_in_media>
            </fast_assets>
        </dev>
    </default>
    <crontab>
        <jobs>
            <fast_assets_compile>
                <schedule><cron_expr>*/2 * * * *</cron_expr></schedule>
                <run><model>fast_assets/observer::onCronCompile</model></run>
            </fast_assets_compile>
        </jobs>
    </crontab>
</config>
