<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <fast_assets translate="label" module="fast_assets">
                    <label>Fast Assets</label>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment>
                                <![CDATA[Enable asset compilation.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <js_enabled translate="label comment">
                            <label>Enable JavaScript compilation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </js_enabled>
                        <css_enabled translate="label comment">
                            <label>Enable CSS compilation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </css_enabled>
                        <compile_asynchronously translate="label comment">
                            <label>Compile asynchronously (using cron)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compile_asynchronously>
                        <store_files_in_skin_top_level translate="label comment">
                            <label>Store files on top level of skin dir (instead of per theme)</label>
                            <comment>E.g. if the assets have to be shared across webservers.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store_files_in_skin_top_level>
                    </fields>
                </fast_assets>
            </groups>
        </dev>
    </sections>
</config>
